@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
.button-cover, .knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  min-width: 200px;
  height: 57px;
  margin: auto 1.5rem auto auto;
  box-shadow: 0px 0px 0px 3px #474A57 inset, 0px 6px 0px 0px #000000, 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.button,
.button .layer {
  border-radius: 30px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-1 .knobs:before {
  content: "Light";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 80px;
  height: 20px;
  color: #000;
  background-color: orange;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-radius: 25px;
  border: 4px solid #000;
  padding: 10px;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "Dark";
  left: 87px;
  background-color: #F95A2C;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.4s ease all;
}

@media only screen and (max-width: 740px) {
  .button {
    display: none;
    width: 25%;
  }
}
footer {
  border-top: 6px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 5px 200px 5px 75px;
}
footer a {
  text-decoration-line: underline !important;
  text-decoration-style: "solid";
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-thickness: 2px;
}
footer .horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
footer .grade-row {
  display: flex;
  flex-direction: row;
  margin: 10px;
  white-space: nowrap;
}

@media only screen and (max-width: 1100px) {
  footer {
    padding: 5px 100px 5px 100px;
    text-align: center;
  }
  footer a {
    text-decoration-line: underline !important;
    text-decoration-style: "solid";
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 2px;
  }
  footer .horizontal {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  footer .grade-row {
    display: flex;
    flex-direction: row;
  }
  footer br {
    display: none;
  }
}
.userdiv {
  position: relative;
  left: 0;
  height: 100%;
  width: 50px;
}

.userimg {
  position: relative;
  top: 0;
  left: 0;
}

.usernotif {
  position: absolute;
  left: 34px;
}

#filter {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  gap: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  z-index: 0;
  border-radius: 20px;
}
#filter p {
  all: unset;
  font-weight: 800;
  color: var(--secondary-text);
  margin: 5px;
}
#filter #filterimg {
  min-width: 10%;
  min-height: 10%;
}
#filter #cat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-41%, -89%);
  -ms-transform: translate(-50%, -50%);
  height: 700%;
  z-index: 1;
  transition: none !important;
}

.device-s {
  display: none;
}

#filterbtn {
  display: none;
}

@media only screen and (max-width: 740px) {
  .device-m, #filter, #cat, #filterimg {
    display: none;
  }

  .device-s {
    display: inherit;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
.nav {
  background-color: var(--primary-color);
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: var(--secondary-color);
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: var(--primary-color);
  color: #000000;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.filter {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40%;
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}
.filter .search-input {
  padding-right: 0px;
  background: url("Resources/feather/search.svg") no-repeat right;
  background-size: 20px;
  background-position: 98%;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
}
.filter .label-checkbox {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 17px;
}
.filter .check-checkbox {
  margin: 0 10px 0 0;
}
.filter .lg {
  display: block;
}
.filter .sm {
  display: none;
}
.filter .ch-label {
  display: flex;
  flex-direction: column;
  width: 35%;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  font-size: 17px;
  color: var(--secondary-text);
}
.filter .ch-labels {
  display: inline;
  width: 35%;
}
.filter .ch-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.filter .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: #E9E7FC;
  border-radius: 10px;
  border: 4px solid var(--secondary-color);
}
.filter .ch-label:hover input ~ .checkmark {
  background-color: #8094FF;
}
.filter .ch-label input:checked ~ .checkmark {
  background-color: #1947E5;
}
.filter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.filter .dd-filter {
  position: absolute;
  top: 45%;
  margin-left: 50%;
  display: inline;
  width: 40%;
  border: 4px solid var(--secondary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  z-index: 10;
}
.filter .dd-filter select {
  display: inline;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 21px;
  color: var(--secondary-color);
}
.filter .dd-filter:after {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 40px;
  height: 100%;
  line-height: 50px;
  content: "∨";
  text-align: center;
  color: var(--secondary-text);
  font-size: 40px;
  margin: 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--accent-color);
  z-index: -1;
}
.filter #ratingfilter {
  position: absolute;
  margin-left: 50%;
  bottom: 20%;
}
.filter #min-star {
  width: 100%;
  position: relative;
  top: auto;
}
.filter #searchbtn {
  position: relative;
  padding-right: 0px;
  background-size: 20px;
  background-position: 98%;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 5%;
  margin-left: 70%;
  width: 25%;
  text-align: center;
}

@media only screen and (max-width: 740px) {
  .filter {
    left: 0;
    right: 0;
    width: 90%;
    margin: auto 2.5;
  }
  .filter .filterh2 {
    display: none;
  }
  .filter .search-input {
    margin-left: 5%;
    width: 90%;
  }
  .filter .lg {
    display: none;
  }
  .filter .sm {
    display: block;
  }
  .filter .ch-labels {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
  .filter .ch-label {
    display: block;
    width: 100%;
  }
  .filter .dd-filter {
    display: block;
    width: 90%;
    top: auto;
    margin: auto auto 5rem auto;
  }
  .filter #ratingfilter {
    position: relative;
    display: block;
    width: 90%;
    top: auto;
    padding-top: 5%;
    margin: 5rem 2.5% auto 2.5%;
  }
}
.lrpanel {
  margin: 5% auto auto auto;
  width: 20%;
  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 0px 0px 2px var(--outline-color) inset, 0px 4px 0px 0px var(--secondary-color);
}
.lrpanel h2 {
  font-size: 36px;
  margin: 0 0 10px 0;
}
.lrpanel .switch-lr, .lrpanel .switch-lr-link {
  font-size: 13px;
  font-weight: 500;
}
.lrpanel .switch-lr-link {
  color: var(--accent-color);
}
.lrpanel .lr-input {
  width: 100%;
  padding: 15px 0px;
  margin: 10px 0 10px 0;
  font-weight: 200;
  font-size: 21px;
  border-radius: 16px;
}
.lrpanel .in-icon {
  position: relative;
  left: 0px;
  top: -10px;
}
.lrpanel input[type=submit] {
  width: 100%;
  padding: 17px !important;
  margin: 30px 0 30px 0;
  font-weight: 800;
  font-size: 21px;
  background-color: var(--accent-color);
  border-radius: 16px;
  border: 0px;
  padding: 10px;
  box-shadow: 0px 0px 0px 2px var(--outline-color) inset, 0px 4px 0px 0px var(--secondary-color);
}
.lrpanel input[type=submit]:active {
  box-shadow: 0px 0px 0px 6px var(--outline-color) inset, 0px 10px 0px 0px var(--secondary-color);
}

* {
  font-family: "Montserrat", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

* {
  transition: all 0.35s ease;
}

.notice {
  display: none;
}

html {
  --blue800: #5C7CFF;
  --darkblue: #080339;
  --blue100: #E9E7FC;
  --green100: #D6FCF7;
  --yellow: #FFBD12;
  --yellow800: #FFD465;
  --red: #F95A2C;
  --red800: #FF9692;
  --pink100: #FFF3F8;
  --pink800: #FFE8E8;
  --outline-color: #474A57;
}

html[data-theme=light] {
  --primary-bg: #FFF4CC;
  --secondary-bg: #F9E9BF;
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --outline-color: #474A57;
  --accent-color: #FFBD12;
  --primary-text: #000000;
  --secondary-text: #18191F;
  --tertiary-text: #474A57;
  --bgtile: url("/index/Resources/bg-tile/light_small.svg");
  --bgtiledebug: url("/index/Resources/bg-tile/debug/Light_debug.svg");
}

html[data-theme=dark] {
  --primary-bg: #202020;
  --secondary-bg: #2B2B2B;
  --primary-color: #18191F;
  --secondary-color: #FFFFFF;
  --outline-color: #b8b5a8;
  --accent-color: #F95A2C;
  --primary-text: #FFFFFF;
  --secondary-text: #D1D1D1;
  --tertiary-text: #cccccc;
  --bgtile: url("/index/Resources/bg-tile/dark_small.svg");
  --bgtiledebug: url("/index/Resources/bg-tile/debug/Dark_debug.svg");
}
html[data-theme=dark] #cat {
  filter: invert(100%);
}

body {
  background-color: var(--primary-bg);
  background-image: var(--bgtile);
  background-repeat: repeat;
  margin: 0px;
}

h1 {
  color: var(--secondary-text);
  font-size: 36;
  font-weight: 800;
}

h2 {
  color: var(--secondary-text);
  font-size: 24;
  font-weight: 800;
}

p, a {
  color: var(--tertiary-text);
  font-size: 17px;
  font-weight: 500;
}

a:hover {
  box-shadow: inset 0 -1.125em 0 var(--accent-color);
  color: #000;
}

a:focus {
  background: var(--tertiary-text);
  outline: none;
  background: var(--accent-color);
  color: var(--tertiary-text);
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

.roundedcorners {
  border-radius: 25px;
  border: 4px solid var(--secondary-color);
  padding: 10px;
}

.card {
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  height: auto;
  width: 100%-padding;
}

.flex, .cards {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.shadow {
  box-shadow: 0px 0px 0px 3px var(--outline-color) inset, 0px 6px 0px 0px var(--secondary-color), 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.usernotif {
  z-index: 4;
}

.menubutton {
  display: none;
}

@media only screen and (max-width: 740px) {
  .menubutton {
    display: block;
  }

  .cards {
    display: block;
  }

  .navimg {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
