/* line 3, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
.button-cover, .knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 7, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
.button {
  position: relative;
  min-width: 200px;
  height: 57px;
  margin: auto 1.5rem auto auto;
  box-shadow: 0px 0px 0px 3px #474A57 inset, 0px 6px 0px 0px #000000, 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/* line 18, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
.button,
.button .layer {
  border-radius: 30px;
}

/* line 23, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

/* line 34, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
.knobs {
  z-index: 2;
}

/* line 38, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
}

/* line 44, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
#button-1 .knobs:before {
  content: "Light";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 80px;
  height: 20px;
  color: #000;
  background-color: orange;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-radius: 25px;
  border: 4px solid #000;
  padding: 10px;
}

/* line 62, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
#button-1 .checkbox:checked + .knobs:before {
  content: "Dark";
  left: 87px;
  background-color: #F95A2C;
}

/* line 71, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.4s ease all;
}

@media only screen and (max-width: 740px) {
  /* line 78, ../../Desktop/mappak/projektek/arcade/index/scss/components/_toggle.scss */
  .button {
    display: none;
    width: 25%;
  }
}

/* line 1, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
footer {
  border-top: 6px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 5px 200px 5px 75px;
}

/* line 5, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
footer a {
  text-decoration-line: underline !important;
  text-decoration-style: "solid";
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

/* line 11, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
footer .horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

/* line 17, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
footer .grade-row, footer .grade-container {
  display: flex;
  flex-direction: row;
  margin: 0px 10px 0px 10px;
  white-space: nowrap;
}

@media only screen and (max-width: 1100px) {
  /* line 25, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
  footer {
    padding: 5px 0px 5px 0px;
    text-align: center;
  }
  /* line 28, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
  footer a {
    text-decoration-line: underline !important;
    text-decoration-style: "solid";
    text-decoration-color: black;
    text-decoration-thickness: 2px;
  }
  /* line 34, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
  footer .horizontal, footer .grade-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  /* line 40, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
  footer .grade-row {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
  }
  /* line 45, ../../Desktop/mappak/projektek/arcade/index/scss/components/_footer.scss */
  footer br {
    display: none;
  }
}

/* line 1, ../../Desktop/mappak/projektek/arcade/index/scss/components/_notification.scss */
.userdiv {
  position: relative;
  left: 0;
  height: 100%;
  width: 50px;
}

/* line 8, ../../Desktop/mappak/projektek/arcade/index/scss/components/_notification.scss */
#userimg {
  position: relative;
  top: 0;
  left: 0;
}

/* line 13, ../../Desktop/mappak/projektek/arcade/index/scss/components/_notification.scss */
.usernotif {
  position: absolute;
  left: 34px;
}

/* line 1, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
#filterbtn-m {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  gap: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  z-index: 0;
  border-radius: 20px;
}

/* line 13, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
#filterbtn-m p {
  all: unset;
  font-weight: 800;
  color: var(--secondary-text);
  margin: 5px;
}

/* line 19, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
#filterbtn-m #filterimg {
  min-width: 10%;
  min-height: 10%;
}

/* line 23, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
#filterbtn-m #cat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-41%, -89%);
  -ms-transform: translate(-50%, -50%);
  height: 700%;
  z-index: 1;
  transition: none !important;
}

/* line 34, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
.device-s {
  display: none;
}

@media only screen and (max-width: 740px) {
  /* line 39, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
  .device-m, #filterbtn-m, #cat, #filterimg, .device-m p {
    display: none;
  }
  /* line 43, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
  .device-s {
    display: inherit;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  /* line 50, ../../Desktop/mappak/projektek/arcade/index/scss/components/_search.scss */
  .device-s img {
    display: inherit;
  }
}

/* line 1, ../../Desktop/mappak/projektek/arcade/index/scss/components/_navbar.scss */
.nav {
  background-color: var(--primary-color);
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: var(--secondary-color);
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: var(--primary-color);
  color: #000000;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

/* line 1, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40%;
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}

/* line 13, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .search-input {
  padding-right: 0px;
  background: url("Resources/feather/search.svg") no-repeat right;
  background-size: 20px;
  background-position: 98%;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
}

/* line 26, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .label-checkbox {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 17px;
}

/* line 32, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .check-checkbox {
  margin: 0 10px 0 0;
}

/* line 37, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .lg {
  display: block;
}

/* line 41, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .sm {
  display: none;
}

/* line 46, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .ch-label {
  display: flex;
  flex-direction: column;
  width: 35%;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  font-size: 17px;
  color: var(--secondary-text);
}

/* line 64, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .ch-labels {
  display: inline;
  width: 35%;
}

/* line 70, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .ch-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* line 79, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: #E9E7FC;
  border-radius: 10px;
  border: 4px solid var(--secondary-color);
}

/* line 93, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .ch-label:hover input ~ .checkmark {
  background-color: #8094FF;
}

/* line 97, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .ch-label input:checked ~ .checkmark {
  background-color: #1947E5;
}

/* line 104, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* line 130, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .dd-filter {
  position: absolute;
  top: 45%;
  margin-left: 50%;
  display: inline;
  width: 40%;
  border: 4px solid var(--secondary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  z-index: 10;
}

/* line 143, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .dd-filter select {
  display: inline;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 21px;
  color: var(--secondary-color);
}

/* line 159, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter .dd-filter:after {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 40px;
  height: 100%;
  line-height: 50px;
  content: url(resources/feather/chevron-down.svg);
  text-align: center;
  color: var(--secondary-text);
  font-size: 40px;
  margin: 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--accent-color);
  z-index: -1;
}

/* line 178, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter #ratingfilter {
  position: absolute;
  margin-left: 50%;
  bottom: 20%;
  width: 49%;
}

/* line 185, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter #min-star {
  width: 85%;
  position: relative;
  top: auto;
}

/* line 192, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 12px;
  margin: 0 auto;
  border: 2px solid gray;
}

/* line 205, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  transition: .3s ease-in-out;
  box-shadow: inset 0px -2px 0px 0px #000000;
}

/* line 216, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter input[type="range"]::-webkit-slider-thumb:hover {
  border: 2px solid #e74c3c;
  box-shadow: inset 0px -2px 0px 0px #e74c3c;
}

/* line 220, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}

/* line 224, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter #min-star::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

/* line 230, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
.filter #searchbtn {
  position: relative;
  padding-right: 0px;
  background-size: 20px;
  background-position: 98%;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  background-color: var(--primar-color);
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 5%;
  margin-left: 70%;
  width: 30%;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
}

/* line 249, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
#mrv {
  display: flex;
  width: 100%;
}

/* line 254, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
#mrv #min-rating {
  min-width: min-content;
  max-width: 60%;
  word-wrap: break-word;
}

/* line 260, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
#mrv #rating {
  display: block;
}

/* line 264, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
#mrv #rating {
  margin: auto 0 auto;
}

@media only screen and (max-width: 740px) {
  /* line 270, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter {
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
  }
  /* line 277, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter .filterh2 {
    display: none;
  }
  /* line 281, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter .search-input {
    margin-left: 5%;
    width: 90%;
  }
  /* line 286, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter .lg {
    display: none;
  }
  /* line 290, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter .sm {
    display: block;
  }
  /* line 294, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter .ch-labels {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
  /* line 301, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter .ch-label {
    display: block;
    width: 100%;
  }
  /* line 306, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter .dd-filter {
    display: block;
    width: 90%;
    top: auto;
    margin: auto auto 5rem auto;
  }
  /* line 314, ../../Desktop/mappak/projektek/arcade/index/scss/components/_filter.scss */
  .filter #ratingfilter {
    position: relative;
    display: block;
    width: 90%;
    top: auto;
    padding-top: 5%;
    margin: 5rem 2.5% auto 2.5%;
  }
}

/* line 1, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel {
  margin: 5% auto auto auto;
  width: 20%;
  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 0px 0px 2px var(--outline-color) inset, 0px 4px 0px 0px var(--secondary-color);
}

/* line 11, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel h2 {
  font-size: 36px;
  margin: 0 0 10px 0;
}

/* line 17, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel .switch-lr, .lrpanel .switch-lr-link {
  font-size: 13px;
  font-weight: 500;
}

/* line 21, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel .switch-lr-link {
  color: var(--accent-color);
}

/* line 26, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel .lr-input {
  width: 100%;
  padding: 15px 0px;
  margin: 10px 0 10px 0;
  font-weight: 200;
  font-size: 21px;
  border-radius: 16px;
}

/* line 37, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel .in-icon {
  position: relative;
  left: 0px;
  top: -10px;
}

/* line 43, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel input[type="submit"] {
  width: 100%;
  padding: 17px !important;
  margin: 30px 0 30px 0;
  font-weight: 800;
  font-size: 21px;
  background-color: var(--accent-color);
  border-radius: 16px;
  border: 0px;
  padding: 10px;
  box-shadow: 0px 0px 0px 2px var(--outline-color) inset, 0px 4px 0px 0px var(--secondary-color);
}

/* line 58, ../../Desktop/mappak/projektek/arcade/index/scss/components/_lrpanel.scss */
.lrpanel input[type="submit"]:active {
  box-shadow: 0px 0px 0px 6px var(--outline-color) inset, 0px 10px 0px 0px var(--secondary-color);
}

/* line 1, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
.games {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
}

/* line 6, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
.games .card {
  flex: 1 0 25%;
  margin: 1em;
  align-items: baseline;
}

@media only screen and (max-width: 1000px) {
  /* line 6, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
  .games .card {
    flex-basis: 33.33%;
  }
}

@media only screen and (max-width: 750px) {
  /* line 6, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
  .games .card {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 540px) {
  /* line 6, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
  .games .card {
    flex-basis: 80%;
  }
}

/* line 23, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
.games .card-cs {
  background-color: var(--blue100);
}

/* line 26, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
.games .card-js {
  background-color: var(--pink100);
}

/* line 29, ../../Desktop/mappak/projektek/arcade/index/scss/components/_games.scss */
.games .card-py {
  background-color: var(--primary-color);
}

/* line 2, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 8, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 14, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.badge {
  font-size: 13px;
  font-weight: 700;
  border-radius: 25px;
  border: 2px solid var(--secondary-color);
  padding: 5px;
  background-color: var(--primary-color);
  height: auto;
  width: 75px;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* line 28, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.badge-dot {
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

/* line 35, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.badge-cs {
  background-color: var(--blue800);
}

/* line 36, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.badge-js {
  background-color: var(--red);
}

/* line 37, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.badge-py {
  background-color: var(--yellow);
}

/* line 39, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.rating {
  height: auto;
  width: 75px;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* line 47, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.footer-madeby {
  font-size: 13px;
}

/* line 50, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.card-button {
  font-weight: 700;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 38px;
  width: 100px;
  color: var(--primary-text);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 0px 0px var(--secondary-color);
}

/* line 60, ../../Desktop/mappak/projektek/arcade/index/scss/components/_gamecard.scss */
.card-button:active {
  box-shadow: 0px 0px 0px 0px var(--secondary-color);
  margin-top: 2px;
}

/* line 40, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
* {
  font-family: 'Montserrat',sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 41, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
*:focus {
  outline: none;
}

/* line 42, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
* {
  transition: all 0.35s ease;
}

/* line 44, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
.notice {
  display: none;
}

/* line 49, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
html {
  --blue800: #5C7CFF;
  --darkblue: #080339;
  --blue100: #E9E7FC;
  --green100: #D6FCF7;
  --yellow: #FFBD12;
  --yellow800: #FFD465;
  --red: #F95A2C;
  --red800: #FF9692;
  --pink100: #FFF3F8;
  --pink800: #FFE8E8;
  --outline-color: #474A57;
}

/* line 63, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
html[data-theme="light"] {
  --primary-bg: #FFF4CC;
  --secondary-bg: #F9E9BF;
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --outline-color: #474A57;
  --accent-color: #FFBD12;
  --primary-text: #000000;
  --secondary-text: #18191F;
  --tertiary-text: #474A57;
  --bgtile: url("Resources/bg-tile/light_small.svg");
  --bgtiledebug: url("Resources/bg-tile/debug/Light_debug.svg");
}

/* line 77, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
html[data-theme="dark"] {
  --primary-bg: #202020;
  --secondary-bg: #2B2B2B;
  --primary-color: #18191F;
  --secondary-color: #FFFFFF;
  --outline-color: #b8b5a8;
  --accent-color: #F95A2C;
  --primary-text: #FFFFFF;
  --secondary-text: #D1D1D1;
  --tertiary-text: #cccccc;
  --bgtile: url("/index/Resources/bg-tile/dark_small.svg");
  --bgtiledebug: url("/index/Resources/bg-tile/debug/Dark_debug.svg");
  --pink100: #460E0E;
  --blue100: #080339;
}

/* line 91, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
html[data-theme="dark"] #cat {
  filter: invert(100%);
}

/* line 92, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
html[data-theme="dark"] #filterimg {
  filter: invert(100%);
}

/* line 160, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
body {
  background-color: var(--primary-bg);
  background-image: var(--bgtile);
  background-repeat: repeat;
  margin: 0px;
}

/* line 167, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
h1 {
  color: var(--secondary-text);
  font-size: 36;
  font-weight: 800;
}

/* line 172, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
h2 {
  color: var(--primary-text);
  font-size: 24;
  font-weight: 800;
}

/* line 178, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
p, a {
  color: var(--tertiary-text);
  font-size: 17px;
  font-weight: 500;
}

/* line 183, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
a:hover {
  box-shadow: inset 0 -1.125em 0 var(--accent-color);
  color: #000;
}

/* line 188, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
a:focus {
  background: var(--tertiary-text);
  outline: none;
  background: var(--accent-color);
  color: var(--tertiary-text);
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

/* line 197, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
.roundedcorners {
  border-radius: 25px;
  border: 4px solid var(--secondary-color);
  padding: 10px;
}

/* line 203, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
.card {
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  height: auto;
  width: 100%-padding;
}

/* line 212, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
.shadow {
  box-shadow: 0px 0px 0px 2px var(--outline-color) inset, 0px 6px 0px 0px var(--secondary-color), 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/* line 219, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
.usernotif {
  z-index: 4;
}

/* line 223, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
.menubutton {
  display: none;
}

@media only screen and (max-width: 740px) {
  /* line 228, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
  .menubutton {
    display: block;
    margin: auto 0px auto auto;
  }
  /* line 233, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
  .userdiv {
    display: none;
  }
  /* line 237, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
  .cards {
    display: block;
  }
  /* line 240, ../../Desktop/mappak/projektek/arcade/index/scss/config.scss */
  .navimg {
    display: flex;
  }
}

/*# sourceMappingURL=config.css.map */