.DS_Store
Games/.DS_Store/
Resources/.DS_Store/
Resources/.DS_Store/
index/.DS_Store/
Codebits/.DS_Store/
.env
Games/cpp/Space Mem/.vscode/c_cpp_properties.json
Games/cpp/Space Mem/.vscode/tasks.json
Games/cpp/Space Mem/build/afile.txt
index/db.php
index/ .env
