// Path: index/scss/variables.scss


// ########################################################## //
//                  Color variables in css                    //
// ########################################################## //
//         variables in css         light theme   dark theme  //
// ########################################################## //
//  var(--primary-bg)                 #FFF4CC       #202020   //
//  var(--secondary-bg)               #F9E9BF       #2B2B2B   //
//  var(--primary-color)              #FFFFFF       #18191F   //
//  var(--secondary-color)            #000000       #FFFFFF   //
//  var(--outline-color)              #474A57       #b8b5a8   //
//  var(--accent-color)               #FFBD12       #F95A2C   //
//  var(--primary-text)               #000000       #FFFFFF   //
//  var(--secondary-text)             #18191F       #D1D1D1   //
//  var(--tertiary-text)              #474A57       #cccccc   //
//  var(--blue800)                    #5C7CFF       #         //
//  var(--darkblue)                   #080339       #         //
//  var(--blue100)                    #E9E7FC       #080339   //
//  var(--green100)                   #D6FCF7       #         //
//  var(--yellow)                     #FFBD12       #         //
//  var(--yellow800)                  #FFD465       #         //
//  var(--red)                        #F95A2C       #         //
//  var(--red800)                     #FF9692       #         //
//  var(--pink100)                    #FFF3F8       #460E0E   //
//  var(--pink800)                    #FFE8E8       #         //
//  var(--bgtile)                     /.svg         /.svg     //
//  var(--bgtiledebug)                /.svg         /.svg     //
// ########################################################## //
//          Made by gydoma, 2023-03-05 13:37:19               //
// ########################################################## //

// Base Colors
$primary-bg: #FFF4CC !default; // primary background color
$secondary-bg: #F9E9BF !default; // secondary background color
$primary-color: #FFFFFF !default; // primary color
$secondary-color: #000000 !default; // secondary color
$outline-color: #474A57 !default; // outline color
$accent-color: #FFBD12 !default; // accent color
$primary-text: #000000 !default; // primary text color
$secondary-text: #18191F !default; // secondary text color
$tertiary-text: #474A57 !default; // tertiary text color
$blue800: #5C7CFF !default; // blue color
$darkblue: #080339 !default; // dark blue color
$blue100: #E9E7FC !default; // blue color
$green100: #D6FCF7 !default; // green color
$yellow: #FFBD12 !default; // yellow color
$yellow800: #FFD465 !default; // yellow color
$red: #F95A2C !default; // red color
$red800: #FF9692 !default; // red color
$pink100: #FFF3F8 !default; // pink color
$pink800: #FFE8E8 !default; // pink color
$bgtile: url('Resources/bg-tile/light_small.svg') !default; // background tile
$bgtiledebug: url('Resources/bg-tile/debug/Light_debug.svg') !default; // background tile

// Dark Colors

$dark_primary-bg: #202020 !default; // primary background color
$dark_secondary-bg: #2B2B2B !default; // secondary background color
$dark_primary-color: #18191F !default; // primary color
$dark_secondary-color: #FFFFFF !default; // secondary color
$dark_outline-color: #b8b5a8 !default; // outline color
$dark_accent-color: #F95A2C !default; // accent color
$dark_primary-text: #FFFFFF !default; // primary text color
$dark_secondary-text: #D1D1D1 !default; // secondary text color
$dark_tertiary-text: #cccccc !default; // tertiary text color
$dark_bgtile: url('/index/Resources/bg-tile/dark_small.svg') !default; // background tile
$dark_bgtiledebug: url('/index/Resources/bg-tile/debug/Dark_debug.svg') !default; // background tile
$dark_pink100: #460E0E !default; // pink color
$dark_blue100: #080339 !default; // blue color