// Path: index/scss/variables.scss

// Color variables in css

//  var(--primary-bg)
//  var(--secondary-bg)
//  var(--secondary-color)
//  var(--outline-color)
//  var(--accent-color)
//  var(--primary-text)
//  var(--secondary-text)
//  var(--tertiary-text)
//  var(--blue800)
//  var(--darkblue)
//  var(--blue100)
//  var(--green100)
//  var(--yellow)
//  var(--yellow800)
//  var(--red)
//  var(--red800)
//  var(--pink100)
//  var(--pink800)
//  var(--bgtile)
//  var(--bgtiledebug)


// Base Colors

$primary-bg: #FFF4CC !default;
$secondary-bg: #F9E9BF !default;
$primary-color: #FFFFFF !default;
$secondary-color: #000000 !default;
$outline-color: #474A57 !default;
$accent-color: #FFBD12 !default;
$primary-text: #000000 !default;
$secondary-text: #18191F !default;
$tertiary-text: #474A57 !default;
$blue800: #5C7CFF !default;
$darkblue: #080339 !default;
$blue100: #E9E7FC !default;
$green100: #D6FCF7 !default;
$yellow: #FFBD12 !default;
$yellow800: #FFD465 !default;
$red: #F95A2C !default;
$red800: #FF9692 !default;
$pink100: #FFF3F8 !default;
$pink800: #FFE8E8 !default;
$bgtile: url('Resources/bg-tile/light_small.svg') !default;
$bgtiledebug: url('Resources/bg-tile/debug/Light_debug.svg') !default;

// Dark Colors

$dark_primary-bg: #202020 !default;
$dark_secondary-bg: #2B2B2B !default;
$dark_primary-color: #18191F !default;
$dark_secondary-color: #FFFFFF !default;
$dark_outline-color: #b8b5a8 !default;
$dark_accent-color: #F95A2C !default;
$dark_primary-text: #FFFFFF !default;
$dark_secondary-text: #D1D1D1 !default;
$dark_tertiary-text: #cccccc !default;
$dark_bgtile: url('Resources/bg-tile/dark_small.svg') !default;
$dark_bgtiledebug: url('Resources/bg-tile/debug/Dark_debug.svg') !default;