// Edit this variable to switch between light and dark theme
$dark-theme: true !default;

@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-bg;
    background-image: $bgtile;
    background-repeat: repeat;
}

h1 {
    color: $primary-text;
    font-size: 36;
    font-weight: 800;
}