//? The bellow code is used to compile the scss files into css
//? sass --watch scss/config.scss style.css
//? To minimize the css file use the following command
//? sass --watch scss/config.scss style.css --style compressed 

//! Don't use "components/libraries" - experimental

//@import "components/custom/arrow"; // TODO Deprecation warning
//@import "components/custom/christmas"; // * can be implemented in the future *
//@import "components/custom/ios_spinner";
//@import "components/custom/lib_colors";
//@import "components/custom/lib_media";
//@import "components/custom/lib_conversion";

// Edit this variable to switch between light and dark theme
$dark-theme: false;
// Edit this variable to enable debug-all mode - Creates a red outline around all elements
$debug-all: false;
// Edit this variable to enable debug mode - Creates a colored outline based on screen size
$debug: false;

// Import variables
@import "variables";

// Import components
@import "components/toggle";
@import "components/footer";
@import "components/notification";
@import "components/search";
@import "components/navbar";
@import "components/filter";
@import "components/lrpanel";
@import "components/games";
@import "components/gamecard";

// Import Montserrat font
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

// Global styles
*{font-family:'Montserrat',sans-serif;user-select:none;-webkit-tap-highlight-color:transparent}
*:focus { outline: none }
*{transition: all 0.35s ease;}

.notice { display:none }


//coloring
  
html{
    --blue800: #{$blue800};
    --darkblue: #{$darkblue};
    --blue100: #{$blue100};
    --green100: #{$green100};
    --yellow: #{$yellow};
    --yellow800: #{$yellow800};
    --red: #{$red};
    --red800: #{$red800};
    --pink100: #{$pink100};
    --pink800: #{$pink800};
    --outline-color: #{$outline-color};
}

html[data-theme="light"]{
    --primary-bg: #{$primary-bg};
    --secondary-bg: #{$secondary-bg};
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --outline-color: #{$outline-color};
    --accent-color: #{$accent-color};
    --primary-text: #{$primary-text};
    --secondary-text: #{$secondary-text};
    --tertiary-text: #{$tertiary-text};
    --bgtile: #{$bgtile};
    --bgtiledebug: #{$bgtiledebug};
}

html[data-theme="dark"]{
    --primary-bg: #{$dark_primary-bg};
    --secondary-bg: #{$dark_secondary-bg};
    --primary-color: #{$dark_primary-color};
    --secondary-color: #{$dark_secondary-color};
    --outline-color: #{$dark_outline-color};
    --accent-color: #{$dark_accent-color};
    --primary-text: #{$dark_primary-text};
    --secondary-text: #{$dark_secondary-text};
    --tertiary-text: #{$dark_tertiary-text};
    --bgtile: #{$dark_bgtile};
    --bgtiledebug: #{$dark_bgtiledebug};
    --pink100: #{$dark_pink100};
    --blue100: #{$dark_blue100};
    #cat{filter: invert(30%);};
    #filterimg{filter: invert(100%);}
}

// Debug-all mode
@if $debug-all {
    * {
        outline: 1px solid red;
    }
}

// Debug mode
@if $debug {
        body::before {
            font-family: Monaco;
            display: block;
            padding: 1em;
            background: #000;
            color: #fff;
            border-bottom: 2px solid black;
            content: 'You have currently enabled debug mode in scss/config.scss on line 20';
            position: sticky;
            top: 0;
            z-index: 9999;
          }
    body {
          background-image: var(--bgtiledebug) !important;
    }
    footer {
        border-top: 6px solid green;
    }
    .nav {   
        border-bottom: 6px solid green !important;
    }

    @media only screen and (max-width: 1400px) {
        footer {
            border-top: 6px solid yellow;
        }
        .nav {   
            border-bottom: 6px solid yellow !important;
        }
    }

    @media only screen and (max-width: 1100px) {
        footer {
            border-top: 6px solid red;
        }
        .nav {   
            border-bottom: 6px solid red !important;
        }
    }
    @media only screen and (max-width: 740px) {
        footer {
            border-top: 6px solid blue;
        }
        .nav {   
            border-bottom: 6px solid blue !important;
        }
    }
    .notice {
        font-family: Monaco;
        display: block;
        padding: 1em;
        background: #000;
        color: #fff;
    }
}

body {
    background-color: var(--primary-bg);
    background-image: var(--bgtile);
    background-repeat: repeat;
    margin: 0px;
}

h1 {
    color: var(--secondary-text);
    font-size: 36;
    font-weight: 800;
}
h2 {
    color: var(--primary-text);
    font-size: 24;
    font-weight: 800;
}

p, a{
    color: var(--tertiary-text);
    font-size: 17px;
    font-weight: 500;
}
a:hover {
    box-shadow: inset 0 -1.125em 0 var(--accent-color);
    color: #000;
}

a:focus {
    background: var(--tertiary-text);
    outline: none;
    background: var(--accent-color);
    color: var(--tertiary-text);
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}


.roundedcorners {
    border-radius: 25px;
    border: 4px solid var(--secondary-color);
    padding: 10px;
}

.card {
    background-color: var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    height: auto;
    width: 100% - padding;
}

.shadow {
    box-shadow: 
    0px 0px 0px 2px var(--outline-color) inset, 
    0px 6px 0px 0px var(--secondary-color), 
    0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.usernotif{
    z-index: 4;
}

.menubutton{
    display: none;
}

.flex-filter {
    flex-grow: 1;
}



@media only screen and (max-width: 740px) {
    .menubutton{
        display: block;
        margin: auto 0px auto auto;
    }

    .userdiv{
        display: none;
    }

    .cards{
        display: block;
    }
    .navimg{
        display: flex;
    }
  }
  