$dark-theme: true !default;
$primary-bg: #18191F !default;
$primary-color: #FFBD12 !default;
$secondary-color: #F95A2C !default;
$primary-text: #18191F !default;
$secondary-text: #474A57 !default;


@if $dark-theme {
  $primary-color: darken($primary-color, 60%);
  $accent-color: lighten($accent-color, 60%);
}