.filter {
    @media only screen and (max-width: 1100px) { 
        width:50%;
    }
    @media only screen and (max-width: 740px) { 

    }
    width: 100% - padding;
    //margin: auto 0 auto 0;
    .search-input {
        padding-right: 0px;
        background: url("Resources/feather/search.svg") no-repeat right;
        background-size: 20px;
        background-position: 98%;
        border-radius: 10px;
        border: 2px solid var(--secondary-color);
        padding: 10px 0 10px 0;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 21px;
    }
    .label-checkbox {
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 17px;
    }
    .check-checkbox {
        margin: 0 10px 0 0;

    }

    /* The container */
    .ch-label {
        display: block;
        position: relative;
        padding-left: 60px;
        padding-top: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 600;
        font-size: 17px;
        color: var(--secondary-text);
    }
    
    /* Hide the browser's default checkbox */
    .ch-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* styled checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        background-color: #E9E7FC;
        border-radius: 10px;
        border: 4px solid var(--secondary-color);
    }
    

    // ? remove OnHover and replace color with OnCheck? - too much contrast
    // OnHover
    .ch-label:hover input ~ .checkmark {
        background-color: #8094FF;
    }
    // OnCheck
    .ch-label input:checked ~ .checkmark {
        background-color: #1947E5;
    }
    //? above


    // Create the checkmark - hidden when not checked 
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    // ? keep this? - feels like it's too much
    /*
    //Show the checkmark when checked 
    .ch-label input:checked ~ .checkmark:after {
        display: block;
    }
    
    // Style the checkmark
    .ch-label .checkmark:after {
        left: 12px;
        top: 9px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }*/

  .dd-filter {
    position: relative;
    display: block;
    max-width: 320px;
    min-width: 200px;
    //margin: 0 auto;
    border: 4px solid var(--secondary-color);
    border-radius: 15px;
    background-color: var(--primary-color);
    z-index: 10;
  
    select {
      border: none;
      outline: none;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      margin: 0;
      display: block;
      width: 100%;
      padding: 12px 55px 15px 15px;
      font-size: 21px;
      color: var(--secondary-color);
    }
    &:after {
      position: absolute;
      right: -4px;
      top: -4px;
      width: 40px;
      height: 100%;
      line-height: 50px;
      content: '\2228';
      text-align: center;
      color: var(--secondary-text);
      font-size: 40px;
      margin: 4px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: var(--accent-color);
      z-index: -1;
    }
  }
}