footer {
    border-top: 6px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 5px 200px 5px 75px;
    a {
        text-decoration-line: underline !important;
        text-decoration-style: "solid";
        text-decoration-color: rgba(0,0,0,1);
        text-decoration-thickness: 2px;
    }
    .horizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:10px;
    }
    .grade-row {
        display: flex;
        flex-direction: row;
        margin: -20px 10px 0px 0px;
        white-space: nowrap;
        flex: 0 0 auto;
        justify-content: space-between;
    }
    .grade-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .grade-img {
        margin: 0px 10px;
    }
}
@media only screen and (max-width: 1100px) {
    footer {
        padding: 5px 0px 5px 0px;
        text-align: center;
        a {
            text-decoration-line: underline !important;
            text-decoration-style: "solid";
            text-decoration-color: rgba(0,0,0,1);
            text-decoration-thickness: 2px;
        }
        .horizontal, .grade-container {
            display: flex;
            flex-direction:column;
            justify-content:start;
        }
        
        .grade-row {
            margin-top: 0px;
            display: flex;
            flex-direction: row;
            border-bottom: 1px dotted var(--secondary-color);
        }
        br {
            display: none;
        }
    }
}