//.game-card {display:flex;flex-direction:row;justify-content:space-between;align-items:center;}
.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.badge {
    font-size: 13px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid var(--secondary-color);
    padding: 5px;
    background-color: var(--primary-color);
    height: auto;
    width: 75px;
    color: var(--secondary-text);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.badge-dot {
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    height:22px;
    width: 22px;
}

.badge-cs { background-color: var(--blue800);}
.badge-js { background-color: var(--red);}
.badge-py { background-color: var(--yellow);}

.rating {
    height: auto;
    width: 75px;
    color: var(--secondary-text);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-madeby {
    font-size: 13px;
}
.card-button {
    font-weight:700;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    height:38px;
    width: 100px;
    color: var(--primary-text);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 0px 0px var(--secondary-color);
}
.card-button:active {
    box-shadow: 0px 0px 0px 0px var(--secondary-color);
    margin-top: 2px;
}