.games {
    display: flex;
    flex-wrap: wrap;
    
    .card {
      flex: 1 0 25%; // 4 columns on larger screens
      margin: 1em;
      align-items: baseline;
      
      @media only screen and (max-width: 1400px) {
        flex-basis: 33.33%; // 3 columns on smaller screens
      }
      
      @media only screen and (max-width: 1100px) {
        flex-basis: 50%; // 2 columns on even smaller screens
      }
      
      @media only screen and (max-width: 740px) {
        flex-basis: 100%; // 1 column on smallest screens
      }
    }
  }
  