.nav {    
    background-color: $primary-color;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: $secondary-color;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    color: #000000;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}