.nav {    
    background-color: var(--primary-color);
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: var(--secondary-color);
    padding: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: var(--primary-color);
    color: #000000;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}
