  .userdiv {
    position: relative;
    left: 0;
    height: 100%;
    width: 50px;
  }

  .userimg {
    position: relative;
    top: 0;
    left: 0;
  }
  .usernotif {
    position: absolute;
    left: 34px;
  }

