

.tabs{
    margin-left: 0;
    height: 100%;
    width: 12.5vw;
    display: inline-block;
    float: left;
}

.tab{
    border-top: 1px solid var(--primary-text);
    border-right: 1px solid black;
    border-bottom: 1px solid var(--primary-text);
    text-align:center;
    height: 5%
}

.signout{
    border-left: 2px solid var(--primary-text);
    background-color: var(--red)
}

.profile-card {
    background-color: var(--primary-color);
    border-radius: 25px;
    margin: 5% auto 5% auto;
    height: auto;
    width: 50vw;
    p,h1{
        max-width: 35vw;
    }
}

.profile-header{
    text-align: center;
    border-bottom: 2px solid var(--primary-text)
}

.tab_title{
    margin-bottom: 0px;
}

.content_header{
    margin-bottom: 50px;
}

.content_break{
    margin-bottom: 25px;
}

.tab-content{
    display: inline-block;
    padding-left: 1vw;
    border-left: 1px solid var(--primary-text);
    width: calc(99% - 12.5vw - 1vw) !important;
    height: 100dvh;
}

.tab-container{
    height: auto;
    min-height: 100%;

}

.content{
    display: none;
}

.active{
    background-color: #FFBD12;
}

.history ul,.historyelement{
    width: 100% !important;
}

.historyaction,.historydesc{
    margin-top: 5px;
    margin-bottom: 5px;
}

.historyheader{
    justify-content: space-between !important;
    display: flex !important;

}

.signout{
overflow: hidden;
}

.historyheader p{
    margin-top: 0px;
    color: #9FA4B4;
}

ul{
    list-style: disc;
  }
  li::marker {
    color: #979797;
    font-size: 2em;
  }

li{
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1100px) { 
    .nav{margin:0}
    .profile-card {
        border: 0;
        background-color: var(--primary-color);
        border-radius: 0;
        margin: 0% 0;
        height: auto;
        width: 100%;
        p,h1{
            max-width: 100%;
        }
    }
    .signout{
        border-left: 1px solid var(--primary-text);
        border-bottom-left-radius: 0;
        background-color: var(--red)
    }
    .tab{
        border-top: 1px solid var(--primary-text);
        border-bottom: 1px solid var(--primary-text);
        text-align: center;
        height: 10%;
        text-overflow:unset;
    }
    .tabs{
        margin-left: 0;
        height: 100%;
        width: 100%;
        display: inline-block;
        float: left;
    }
    .tab-content{
        display: inline-block;
        padding-left: 1vw;
    }


}

hr{
    width: 20vw;
}

.content_header{
    display: block;
}

.content hr{
    display: block;
    float: left;
    margin-right: 100%;
}

#personal{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#personal p{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

#game{
    margin-left: 10%
}

.change_form{
    display: flex;
    flex-direction: column;
    input[type="submit"]{
        width: 30%;
        padding: 17px !important;
        margin: -15px 0 30px 0;
        font-weight: 800;
        font-size: 21px;
        background-color: var(--accent-color);
        color: var(--primary-text);
        border-radius: 16px;
        border: 0px;
        padding: 10px;
        box-shadow: 
        0px 0px 0px 2px var(--secondary-color) inset, 
        0px 4px 0px 0px var(--secondary-color);
    }
      
    input[type="submit"]:active{
        box-shadow: 
        0px 0px 0px 2px var(--secondary-color) inset, 
        0px 1px 0px 0px var(--secondary-color), 
    }
}

    .chg-input{
        width: 20vw;
        padding: 15px 0px;
        margin: 10px 0 10px 0;
        font-size: 21px;
        border-radius: 16px;
        background-color: #00000000;
        color: var(--primary-text);
        border: 2px solid var(--outline-color);
        margin-bottom: 30px;
    }

    .chg-input::-webkit-input-placeholder { 
        padding-left: 10px;
    }
    .chg-input:-moz-placeholder { 
        text-indent: 10px;
    }
    .chg-input:-ms-placeholder { 
        text-indent: 10px;
    }



#signout_modal{
    display: none;;
}

#modal_bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
}

    #modal_content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 125px;
        background-color: var(--primary-bg);

        border: 1px solid black;

        h1{
            font-size: 1.2em;
            margin-top: 5px;
        }
        p{
            margin-bottom:10px ;
        }
      }
      
      #modal_buttons{
        justify-content: space-between !important;
        display: flex !important;
        button{
            width: 135px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
        #modal_signoutbtn{
            background-color: var(--red);
            font-weight: 700;
        }
      }


      @media only screen and (max-width: 1100px) { 
        .chg-input{
            width: 100%;
        }
    
    }