#filter {
    display:flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    gap: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    z-index:0;
    border-radius: 20px;
    p{
        all: unset;
        font-weight: 800;
        color: var(--secondary-text);
        margin: 5px;
    }
    #filterimg {
        min-width: 10%;
        min-height: 10%;
    }
    #cat {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-41%, -89%);
        -ms-transform: translate(-50%, -50%);
        height: 700%;
        z-index: 1;
        transition: none !important;
    }
}
.device-s {
    display: none;
}

#filterbtn {
    display: none;
}

@media only screen and (max-width: 740px) {
    .device-m, #filter, #cat, #filterimg {
        display:none;
    }
    .device-s {
        display:inherit;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}